<app-adicionarItensNoPedido-table [pedido]="pedido"></app-adicionarItensNoPedido-table>

<!--><h1 *ngIf="!isChange" mat-dialog-title>Criar entrada</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar entrada</h1>
<div mat-dialog-content>
    <mat-selection-list #itens>
        <mat-list-option *ngFor="let item of nomeQuantidade">
          {{item}} aaaaaaaaaa
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" >Escolher Itens..</button>
  <button *ngIf="isChange" mat-button [mat-dialog-close]="data" >Editar</button>
</div>-->